@import "reset.css";
@import "lionbars.css";

body, html { height: 100%; }

body {
  font-size: 62.5%; /* Causes base font size to be ~10px */
}

.box0, .box1, .box2, .box3, .box4, .box5 { float: left; display: block; width: 200px; height: 150px; overflow: auto; font: 11px/16px helvetica; margin: 50px; border: 1px solid #ccc; }
p { display: block; }

.box1, .box0 { padding: 10px; }
.box2 p { width: 600px; }
.box3 p { display: block; width: 600px; height: 600px;/* background: #555; color: #ddd;*/ }
.box3 { padding: 20px; }
.box4 p { width: 1500px; }
.box5 p {  }
